body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
  text-align: center;
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
}

header{
  background-image: url(../img/fond_titre.png);
  color: #7db96f;
  padding: 30px;
  border-top: 7px solid #7db96f;
  font-size: 20px;
}

.box-titel{
  background-color: #ffffffe0;
  padding: 30px 55px;
}

p{
  font-family:'Quattrocento', serif;
}

.slogan{
  margin:0;
  font-size: 20px;
}

a{
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color:black;
}

.cta-container{
  display:flex;
  align-items: center;
  flex-direction: column;
}

.cta{
  background-color: #7db96f;
  color: white;
  text-decoration: none;
  border-radius: 12px;
  font-size: 18px;
  padding: 10px 30px;
  font-weight: 400;
  margin-top: 20px;
  font-family: 'Maven Pro', sans-serif;
}

.cta-light{
  background-color: white;
  color: #7db96f;
}

.section-intro{
  background-color: white;
  padding: 75px 60px;
  display:flex;
  flex-direction: column;
}

h2{
  margin-top: 0;
  font-size: 26px;
  font-family:'Maven Pro', sans-serif;
}

.fruit-intro{
  height:35px;
  margin-top: 30px;
}

.intro{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

.section-produit{
  background-color: #7db96f;
  padding: 75px 30px 15px;
}

.produit{
  color: black;
  margin: 45px 0;
  padding: 40px;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  border-radius: 20px;
  align-items:baseline;
  justify-content: space-between;
  box-shadow: 7px 7px 7px #0000003d;
}

.fruit-produit{
  height: 75px;
}

.section-contact{
  background-color: white;
  color: #7db96f;
  padding: 30px;
  border-top: 7px solid #7db96f;
  font-size: 20px;
}

h3{
  margin: 0;
}

footer{
  background-color: white;
}

p{
  margin-top:0;
}

h3{
  font-family: 'Sriracha', cursive;
  font-size: 30px;
}

.chapeau{
  opacity: 0.5;
}

.fruit-footer{
  height:35px;
  margin: 30px 0;
  padding-bottom: 45px;
}

.footer{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

footer p{
  font-family:'Maven Pro', sans-serif;
  padding: 45px 75px 0;
  color:#7db96f;
  font-size: 12px;
}

.banane{
  background-color: #fcf7d6;
}

.kiwi{
  background-color: #d0f1ae;
}

.cafe{
  background-color: #cdc4b0
}

.fraise{
  background-color: #e2a2b1
}

.section-produit h2{
  color: white;
}